doctype html
html
  head
    title Mini-mentalidad
    meta(charset='utf-8')
    meta(name='author', content='John Alexis Guerra Gomez')
    meta(name='description', content='Network Explorer: Design, Implementation, and Real World Deployment of a Large Network Visualization Tool')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    //- link(href='lib/css/reveal.css', rel='stylesheet')
    //- link(href='lib/css/theme/simple.css', rel='stylesheet')
    //- link(href='lib/css/zenburn.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    //- Printing and PDF exports -->
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'lib/css/print/pdf.css' : 'lib/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    script(src='lib/js/d3.min.js')
  body
    .reveal
      .slides
        section#title
          h1: strong La Mini-mentalidad
          br

          p.authors.
            #[a(href='http://johnguerra.co/', target='_blank') John Alexis Guerra Gómez]
          //- #[br]
          //- #[span] Palo Alto Research Center

          //- p.small Use
          //-   strong  spacebar
          //-   |  and the arrows to advance slides
          br
          p.small
            a(href='http://johnguerra.co/slides/minimentalidad', target='_blank') http://johnguerra.co/slides/minimentalidad
          p.small
            a(href='http://twitter.com/duto_guerra') @duto_guerra

        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-1.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-2.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-3.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-4.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-5.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-6.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-7.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-8.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-9.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-10.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-11.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-12.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-13.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-14.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-15.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-16.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-17.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-18.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-19.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-20.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-21.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-22.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-23.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-24.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-25.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-26.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-27.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-28.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-29.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-30.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-31.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-32.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-33.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-34.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-35.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-36.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-37.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-38.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-39.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-40.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-41.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-42.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-43.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-44.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-45.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-46.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-47.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-48.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-49.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-50.png")
        section(data-background-size="contain" data-background="images/tedTalk_JohnGuerra_v3-51.png")


        //- section#title
        //-   h3: strong De Ideas a Innovaciones
        //-   br

        //-   p.authors.
        //-     #[a(href='http://johnguerra.co/', target='_blank') John A. Guerra Gómez], Aaron Wilson, Juan Liu, Dan Davies, Peter Jarvis and Eric Bier
        //-     #[br]
        //-     #[span] Palo Alto Research Center

        //-   //- p.small Use
        //-   //-   strong  spacebar
        //-   //-   |  and the arrows to advance slides
        //-   br
        //-   p.small
        //-     a(href='http://infovis.co/slides/aviNetworkExplorer', target='_blank') http://infovis.co/slides/aviNetworkExplorer
        //-   p.small
        //-     a(href='http://twitter.com/duto_guerra') @duto_guerra




        section#thankyou(data-background="#000" )
          h1 Gracias
          div.contactInfo
            p John Alexis Guerra Gómez
            a(href="http://johnguerra.co") johnguerra.co
            br
            a(href="http://twitter.com/duto_guerra") @duto_guerra





    script(src='lib/js/head.min.js')
    script(src='lib/js/reveal.js')

    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        rollingLinks: true,
        transition: "convex",
        //- width: "90%",
        //- height: 1.0,
        dependencies: [
          // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },

          // Interpret Markdown in <section> elements
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

          // Syntax highlight for <code> elements
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

          // Zoom in and out with Alt+click
          { src: 'plugin/zoom-js/zoom.js', async: true },

          // Speaker notes
          { src: 'plugin/notes/notes.js', async: true },

          //- // Remote control your reveal.js presentation using a touch device
          //- { src: 'plugin/remotes/remotes.js', async: true },

          //- // MathJax
          //- { src: 'plugin/math/math.js', async: true }
        ]
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72531610-1', 'auto');
      ga('send', 'pageview');


